<div class="container-kanban">
    <div class="row gap-3">
        <!-- <div class="col">
            <app-column-new></app-column-new>
        </div> -->
        <div class="col to-do">
            <!-- <app-column-todo></app-column-todo> -->
            <div class="d-flex flex-column align-items-center">
                <h2>To-Do</h2>
                <hr/>
                <app-task-card *ngFor="let card of cardsTODO" [card]='card'></app-task-card>
                <button href="" class="btn btn-success" (click)="createCard()">Adicionar Card</button> 
            </div>
        </div>
        <div class="col doing">
            <!-- <app-column-doing></app-column-doing> -->
            <div class="d-flex flex-column align-items-center">
                <h2>Doing</h2>
                <hr/>
                <app-task-card *ngFor="let card of cardsDOING" [card]='card'></app-task-card>
                <!-- <button href="" class="btn btn-success">Adicionar Card</button>  -->
            </div>
        </div>
        <div class="col done">
            <!-- <app-column-done></app-column-done> -->
            <div class="d-flex flex-column align-items-center">
                <h2>Done</h2>
                <hr/>
                <app-task-card *ngFor="let card of cardsDONE" [card]='card'></app-task-card>
                <!-- <button href="" class="btn btn-success">Adicionar Card</button>  -->
            </div>
        </div>
    </div>
</div>