<!-- <header>
    <nav>
        <ul>
        <li><a>Home</a></li>
        <li><a>Favoritos</a></li>
        <li><a>Configurações</a></li>
        <li class="btn-secondary"><a>Logout</a></li>
        </ul>
    </nav>
</header> -->

<section id="top-menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Troquei a linha abaixo por container pois o container-fluid é 100% em todas as telas -->
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand logo" href="#">Kanban by Rodrigo Lucchesi</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Configurações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>